.all-categories {
   pointer-events: none;
   visibility: hidden;
   opacity: 0;
   z-index: 30;
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   overflow-y: auto;
   background: rgba(27, 29, 31, .6);
   transition: all .2s;


   &--active {
      pointer-events: all;
      visibility: visible;
      opacity: 1;

      .all-categories__container {
         top: 170px;
      }
   }

   &__container {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      padding-top: 10px;
      padding-bottom: 30px;
      transition: all .2s;
   }

   &__inner {
      border: 1px solid #f6f8fb;
      border-radius: 10px;
      padding: 20px;
      display: flex;
      gap: 20px;
      box-shadow: 0 5px 20px 0 rgba(33, 34, 46, .15);
      background: #fff;
   }

   &__list {
      flex-grow: 1;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      column-gap: 20px;
   }

   &__item {}

   &__link {
      border-radius: 10px;
      padding: 14px 20px;
      display: flex;
      align-items: center;
      gap: 15px;

      &:hover {
         background: #f4f5f6;

         .all-categories__text {
            color: #5946d7;
         }
      }
   }

   &__icon {}

   &__text {
      transform: translateY(2px);
      font-size: 16px;
      font-weight: 500;
      line-height: 1.42857;
      color: #1b1d1f;
      transition: all .2s;
   }

   &__banner {

      &:hover {
         opacity: .9;
      }
   }

   &__banner-img {
      border-radius: 10px;
   }
}

.header {

   &--active {

      @include mobile {
         position: fixed;
         top: 0;
         right: 0;
         bottom: 0;
         left: 0;
         overflow-y: auto;
      }
   }

   &__menu {

      @include mobile {
         pointer-events: none;
         visibility: hidden;
         position: absolute;
         top: 0;
         left: -120%;
         width: 100%;
         transition: all .2s;
      }

      &--active {

         @include mobile {
            pointer-events: all;
            visibility: visible;
            left: 0;
         }
      }
   }

   &__menu-list {}

   &__menu-item {}

   &__menu-link {}
}