.all-categories {
   z-index: 30;
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   overflow-y: auto;
   background: rgba(27, 29, 31, .6);

   &__container {
      position: absolute;
      top: 140px;
      right: 0;
      left: 0;
   }

   &__inner {
      border: 1px solid #f6f8fb;
      height: 280px;
      border-radius: 10px;
      box-shadow: 0 5px 20px 0 rgba(33, 34, 46, .15);
      background: #fff;
   }

   &__list {}

   &__item {}

   &__link {}

   &__icon {}

   &__text {}

   &__banner {}
}