.footer {
   color: #fff;
   background: #2f2b4a;

   // top

   &__top {
      border-bottom: 1px solid #4e4b65;
      padding: 40px 0;
      display: grid;
      grid-template-columns: repeat(5, auto);
      justify-content: space-between;
      gap: 30px;
   }

   &__top-col {}

   // menu

   &__menu-title {
      margin: 0 0 20px;
      font-weight: 500;
      font-size: 18px;
      line-height: 1.22222;
   }

   &__menu-list {
      display: flex;
      flex-direction: column;
      gap: 8px;
   }

   &__menu-item {}

   &__menu-link {
      font-size: 16px;
      line-height: 1.25;
      color: #f4f5f6;

      &:hover {
         opacity: .7;
      }
   }


   // consultation

   &__consultation {
      margin: 0 0 20px;
      position: relative;
      border: 1px solid rgba(255, 255, 255, .2);
      border-radius: 10px;
      padding: 15px 20px 15px 50px;
      background: rgba(255, 255, 255, .1);

      &:hover {
         border-color: #6B59CC;
         background: #6B59CC;
      }
   }

   &__consultation-icon {
      position: absolute;
      top: 15px;
      left: 20px;
   }

   &__consultation-title {
      margin: 0 0 2px;
      font-weight: 500;
      font-size: 16px;
      line-height: 1.375;
      color: #fff;
   }

   &__consultation-text {
      font-size: 14px;
      line-height: 1.28571;
      color: #f4f5f6;
   }

   // service

   &__service {
      position: relative;
      padding: 0 0 0 30px;

      &::before,
      &::after {
         content: '';
         position: absolute;
         top: 0;
         left: 0;
         border-radius: 100%;
         background: #49C171;
      }

      &::before {
         width: 20px;
         height: 20px;
         opacity: .3;
         animation: pulse 1s infinite;
      }

      &::after {
         top: 5px;
         left: 5px;
         width: 10px;
         height: 10px;
      }
   }

   &__service-text {
      max-width: 150px;
      font-weight: 500;
      font-size: 16px;
      line-height: 1.375;
      color: #f4f5f6;
   }

   // bottom

   &__bottom {
      padding: 20px 0;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      align-items: center;
      gap: 30px;
   }

   // copyright

   &__copyright {
      font-size: 16px;
      line-height: 1.25;
      color: #fff;
   }

   // pay

   &__pay {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 18px;
   }

   &__pay-text {
      font-size: 16px;
      line-height: 1.25;
      color: #fff;
   }

   &__pay-cards {
      display: flex;
      align-items: center;
      gap: 10px;
   }

   &__pay-card {
      border-radius: 4px;
      padding: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: rgba(244, 246, 249, .15);

      &:hover {
         background: #6B59CC;
      }
   }

   &__pay-icon {}

   // links

   &__links {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 30px;
   }

   &__links-link {
      font-size: 16px;
      line-height: 1.25;
      color: #f4f5f6;

      &:hover {
         opacity: .7;
      }
   }
}

// animation

@keyframes pulse {
   0% {
      transform: scale(1);
   }

   50% {
      transform: scale(1.2);
   }

   100% {
      transform: scale(1);
   }
}