.header {

   // top

   &__top {
      border-bottom: 1px solid #e3e3e8;
      padding: 13px 0;
   }

   &__top-inner {
      display: flex;
      align-items: center;
      gap: 15px;

      & > * {
         flex-shrink: 0;
      }
   }

   // logo

   &__logo {
      margin: 0 2px 0 0;
      transition: all .2s;

      &:hover {
         opacity: .7;
      }

      &--index {

         &:hover {
            opacity: 1;
         }
      }
   }

   &__logo-img {}

   // search

   &__search {
      margin: 0 5px 0 0;
      position: relative;
      width: 100%;
      max-width: 430px;
   }

   &__search-input {
      border: 1px solid #dedee2;
      border-radius: 6px;
      padding: 13px 50px 11px 20px;
      height: 44px;
      font-size: 16px;
      line-height: 1.25;
      color: #1b1d1f;
      background: #f4f5f6;
      transition: all .2s;

      &::placeholder {
         color: #55556d;
      }

      &:focus {
         border-color: #6b59cc;
      }
   }

   &__search-btn {
      position: absolute;
      top: 12px;
      right: 12px;
   }

   &__search-btn-icon {}

   // location

   &__location {
      margin: 0 35px 0 0;
      display: flex;
      align-items: center;
      gap: 10px;
   }

   &__location-icon {}

   &__location-text {
      transform: translateY(2px);
      font-size: 16px;
      line-height: 1.25;
      color: #1b1d1f;
   }

   // tel

   &__tel {
      display: flex;
      align-items: center;
      gap: 8px;

      &:hover {

         .header__tel-text {
            color: #6b59cc;
         }
      }
   }

   &__tel-icon {}

   &__tel-text {
      transform: translateY(2px);
      font-weight: 600;
      font-size: 18px;
      line-height: 1.22222;
      color: #1b1d1f;
      transition: all .2s;
   }

   // user

   &__user {
      margin: 0 0 0 auto;
      display: flex;
      align-items: center;
      gap: 7px;
   }

   &__user-icon {}

   &__user-link,
   &__user-text {
      transform: translateY(2px);
      font-size: 16px;
      line-height: 1.25;
      text-align: right;
      color: #1b1d1f;
   }

   &__user-link {

      &:hover {
         color: #6b59cc;
      }
   }

   &__user-text {}

   // bottom

   &__bottom {}

   &__bottom-inner {
      padding: 13px 0;
      display: flex;
      align-items: center;
      gap: 20px;
   }

   // category

   &__category {
      border-radius: 8px;
      padding: 11px 20px;
      display: flex;
      align-items: center;
      gap: 10px;
      background: #6b59cc;

      &:hover {
         background: #523ad5;
      }
   }

   &__category-icon {}

   &__category-text {
      transform: translateY(1px);
      font-weight: 600;
      font-size: 16px;
      line-height: 1.375;
      color: #fff;
   }

   // menu

   &__menu {}

   &__menu-list {
      display: flex;
      align-items: center;
      gap: 5px;
   }

   &__menu-item {}

   &__menu-link {
      border-radius: 8px;
      padding: 14px 15px 10px 15px;
      font-size: 16px;
      line-height: 1.25;
      color: #1b1d1f;

      &:hover {
         background: #f4f5f6;
      }
   }

   // cart

   &__cart {
      border-radius: 8px;
      padding: 6px 15px 6px 25px;
      margin: 0 0 0 auto;
      display: flex;
      align-items: center;
      gap: 10px;
      background: #f4f5f6;

      &:hover {

         .header__cart-text {
            color: #6b59cc;
         }

         .header__cart-count {
            background: #6b59cc;
         }
      }
   }

   &__cart-icon {}

   &__cart-text {
      transform: translateY(1px);
      font-weight: 500;
      font-size: 16px;
      line-height: 1.375;
      color: #1b1d1f;
      transition: all .2s;
   }

   &__cart-count {
      border-radius: 25px;
      padding: 2px 0 0;
      width: 20px;
      height: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 500;
      font-size: 14px;
      line-height: 1;
      color: #fff;
      background: #fb6019;
      transition: all .2s;
   }
}