.product {
   overflow: hidden;
   position: relative;
   border: 1px solid #dedee2;
   border-radius: 10px;
   display: flex;
   flex-direction: column;
   background: #fff;
   transition: all .2s;

   &:hover {
      border-color: #f4f5f6;
      box-shadow: 0 4px 20px 0 rgba(0, 0, 0, .07);
   }

   &__header {
      padding: 30px 15px 15px;
      min-height: 265px;
      display: flex;
      align-items: center;
      justify-content: center;
   }

   &__photo {}

   &__body {
      margin: 0 0 11px;
      padding: 0 20px;
   }

   &__row {
      margin: 0 0 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 15px;
   }

   &__articul {
      font-size: 14px;
      line-height: 1.42857;
      color: #7a7680;
   }

   &__articul-number {
      color: #505255;
   }

   &__rating {
      display: flex;
      align-items: center;
      gap: 6px;
   }

   &__rating-stars {
      display: flex;
      align-items: center;
      gap: 3px;
   }

   &__rating-stars-star {}

   &__rating-count {}

   &__title {
      font-weight: 500;
      font-size: 16px;
      line-height: 1.375;
      color: #1b1d1f;
   }

   &__footer {
      margin: auto 0 0;
      padding: 0 20px 20px;
      display: flex;
      justify-content: space-between;
      gap: 15px;
   }

   &__price {
      display: flex;
      gap: 10px;
   }

   &__price-new {
      font-weight: 500;
      font-size: 30px;
      line-height: 1;
      color: #1b1d1f;
   }

   &__price-old {
      font-size: 16px;
      line-height: 1.25;
      text-decoration: line-through;
      color: #7a7680;
   }

   &__buy {
      z-index: 2;
      position: relative;
      border: 2px solid #5946D7;
      border-radius: 8px;
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
         background: #5946D7;

         .product__buy-icon {

            path {
               stroke: #fff;
            }
         }
      }
   }

   &__buy-icon {}

   &__link {
      z-index: 1;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
   }
}