.products {
   background: #fff;

   // header

   &__header {
      margin: 0 0 30px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 30px;
   }

   // more

   &__more {
      border-radius: 8px;
      border: 1px solid transparent;
      padding: 7px 10px 7px 20px;
      min-height: 40px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 10px;
      background: #f4f5f6;

      &:hover {
         border-color: #5946D7;
      }
   }

   &__more-text {
      font-family: "Stolzl", sans-serif;
      font-size: 14px;
      line-height: 1.42857;
      color: #5946d7;
   }

   &__more-icon {}

   // body

   &__body {}

   &__list {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 20px;
   }

   // slider

   &__btns {
      z-index: 1;
      position: absolute;
      top: 50%;
      right: 0;
      left: 0;
      transform: translateY(-50%);
      pointer-events: none;
   }

   &__btns-inner {
      display: flex;
      align-items: center;
      justify-content: space-between;
   }

   &__btn {
      border-radius: 10px;
      border: 1px solid transparent;
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: 0 4px 10px 0 rgba(46, 16, 102, 0.25);
      background: #fff;
      pointer-events: all;

      &:hover {
         border-color: #5946D7;
      }

      &--prev {
         transform: translateX(-50%);
      }

      &--next {
         transform: translateX(50%);
      }
   }

   &__btn-icon {}

   // banner

   &__banner {

      &:hover {
         opacity: .9;
         box-shadow: 0 4px 20px 0 rgba(0, 0, 0, .07);
      }
   }

   &__banner-img {
      border-radius: 10px;
      background: #fafafd;
   }
}