.top-categories {
   overflow: hidden;
   padding: 0 0 60px;
   background: #fff;

   @include tablet {
      padding: 0 0 40px;
   }

   &__slider {

      @include laptop {
         margin-right: calc(var(--container-padding) * -1);
      }
   }

   &__item {
      overflow: hidden;
      position: relative;
      padding: 30px;
      min-height: 250px;
      background: #e8edfa;
   }

   &__item-image {
      position: absolute;
      right: 0;
      bottom: 0;

      @include tablet {
         right: auto;
         left: 185px;
      }
   }

   &__item-info {
      position: relative;
   }

   &__item-title {
      margin: 0 0 20px;
      max-width: 232px;
      font-family: "Stolzl", sans-serif;
      font-weight: 500;
      font-size: 24px;
      line-height: 1.33333;
      color: #1b1d1f;
   }

   &__item-link {
      border-radius: 8px;
      padding: 8px 10px 8px 20px;
      display: inline-flex;
      align-items: center;
      gap: 10px;
      background: #5946D7;

      &:hover {
         background: #6b59cc;
      }
   }

   &__item-link-text {
      transform: translateY(2px);
      font-size: 18px;
      line-height: 1.22222;
      color: #fff;
   }

   &__item-link-icon {}

   // Swiper

   .swiper {

      @include laptop {
         padding-right: var(--container-padding);
      }
   }

   .swiper-slide {
      max-width: 407px;

      @include tablet {
         max-width: 354px;
      }
   }
}