body {
   overflow-x: hidden;
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   font-family: var(--font-primary);
   background-color: #fff;
}

a,
button,
svg,
path {
   transition: all 0.2s;
}