:root {
   // container

   --container-width: 1260px;
   --container-padding: 20px;

   @include mobile {
      --container-padding: 15px;
   }

   // fonts

   --font-primary: 'TT Commons',
   sans-serif;
   --font-secondary: 'Stolzl',
   sans-serif;

   // colors

   --color-primary: #5946d7;
   --color-secondary: #6b59cc;

   --color-text-primary: #1b1d1f;
   --color-text-secondary: #505255;
}