.arrow {
   pointer-events: all;
   border-radius: 10px;
   border: 1px solid transparent;
   width: 40px;
   height: 40px;
   display: flex;
   align-items: center;
   justify-content: center;
   box-shadow: 0 4px 10px 0 rgba(46, 16, 102, 0.25);
   background: #fff;

   &:hover {
      border-color: var(--color-primary);
   }

   &__icon {}
}