.brand {

   // top

   &__top {
      padding: 30px 0 40px;
      background: #fff;
   }

   // info

   &__info {
      display: flex;
      gap: 30px;

      @include mobile {
         flex-direction: column;
         gap: 20px;
      }
   }

   &__info-left {
      flex-shrink: 0;
   }

   &__info-right {}

   &__image {
      border-radius: 4px;
   }

   &__title {
      margin: 0 0 10px;
   }

   &__country {
      margin: 0 0 5px;
      font-size: 18px;
      line-height: 1.22222;
      color: #1b1d1f;
   }

   &__site {
      margin: 0 0 10px;
      font-size: 18px;
      line-height: 1.22222;
      color: #1b1d1f;

      @include mobile {
         margin: 0 0 20px;
      }
   }

   &__site-link {
      font-weight: 500;
      color: #f11a22;

      &:hover {
         text-decoration: underline;
      }
   }

   &__description {
      font-size: 18px;
      line-height: 1.22222;
      color: #55556d;

      @include mobile {
         font-size: 16px;
         line-height: 1.25;
      }
   }

   // bottom

   &__bottom {
      padding: 40px 0 60px;

      @include tablet {
         padding: 40px 0;
      }
   }

   // table

   &__table {
      overflow: hidden;
      border-radius: 6px;
      box-shadow: 0 2px 5px 0 rgba(38, 34, 45, 0.03);

      @include mobile {
         border-radius: 0;
         box-shadow: none;
         display: flex;
         flex-direction: column;
         gap: 10px;
      }
   }

   &__table-row {
      padding: 0 30px;
      background: #fff;
      transition: background-color .2s;

      @include mobile {
         border-radius: 4px;
         box-shadow: 0 2px 5px 0 rgba(38, 34, 45, 0.03);
         padding: 20px;
      }

      &:hover {
         background: #f4f5f6;
      }

      &--heading {
         border-bottom: 1px solid #e3e3e8;

         @include mobile {
            display: none;
         }

         &:hover {
            background: #fff;
         }
      }
   }

   &__table-row-inner {
      border-bottom: 1px solid #e3e3e8;
      padding: 10px 0;
      display: grid;
      grid-template-columns: 160px 1fr 260px 120px;
      align-items: center;
      gap: 15px;

      @include laptop {
         grid-template-columns: 160px 1fr 200px 120px;
      }

      @include tablet {
         grid-template-columns: 110px 1fr 130px 120px;
      }

      @include mobile {
         border-bottom: none;
         padding: 0;
         grid-template-columns: 1fr;
      }

      &--heading {
         padding: 15px 0;
         border-bottom: none;
      }
   }

   &__table-group {

      @include mobile {
         display: flex;
         flex-direction: column;
         gap: 5px;
      }
   }


   &__table-title {
      font-size: 16px;
      line-height: 1.25;
      color: #7a7680;

      &--mobile {
         display: none;

         @include mobile {
            display: block;
         }
      }
   }

   &__table-text {
      font-size: 16px;
      line-height: 1.25;
      color: #1b1d1f;
   }

   &__table-btn {

      @include mobile {
         margin: -5px 0 0;
      }
   }
}