.brand {

   // top

   &__top {
      padding: 30px 0 40px;
      background: #fff;
   }

   &__top-inner {
      display: flex;
      gap: 30px;
   }

   &__top-left {
      flex-shrink: 0;
   }

   &__image {
      border-radius: 4px;
   }

   &__top-right {}

   &__title {}

   &__country {}

   &__site {}

   &__site-link {}

   &__description {}

   // bottom

   &__bottom {
      padding: 40px 0 60px;
   }

   // table

   &__table {
      overflow: hidden;
      border-radius: 6px;
      box-shadow: 0 2px 5px 0 rgba(38, 34, 45, 0.03);
      background: #fff;
   }

   &__table-row {

      &--heading {}

   }

   &__table-group {}


   &__table-title {

      &--mobile {}
   }

   &__table-text {}
}