.brands {

   &__top {
      padding: 30px 0;
      background: #fff;

      @include tablet {
         padding: 30px 0 40px;
      }
   }

   &__title {
      margin: 0 0 20px;
   }

   // letters

   &__letters {
      display: flex;
      flex-direction: column;
      gap: 10px;

      @include mobile {
         gap: 20px;
      }
   }

   &__letters-row {
      display: flex;
      flex-wrap: wrap;
      gap: 10px 5px;
   }

   // letter

   &__letter {
      border: 1px solid #dedee2;
      border-radius: 4px;
      padding: 5px 6px 0;
      min-width: 32px;
      height: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 500;
      font-size: 18px;
      line-height: 1.22222;
      text-transform: uppercase;
      color: #6b59cc;
      background: #fff;
      transition: border-color .2s, background-color .2s;

      &:hover {
         border-color: #6b59cc;
      }

      &--active {
         border-color: #6b59cc;
         background-color: #efedfb;
         cursor: default;
      }
   }

   // bottom

   &__bottom {
      padding: 30px 0 40px;

      @include tablet {
         padding: 40px 0;
      }
   }

   // list

   &__list {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      gap: 10px 20px;

      @include laptop {
         grid-template-columns: repeat(4, 1fr);
      }

      @include tablet {
         grid-template-columns: repeat(3, 1fr);
      }

      @include mobile {
         grid-template-columns: repeat(2, 1fr);
      }

      @include mobile-small {
         grid-template-columns: 1fr;
      }
   }

   // brand

   &__brand {
      border-radius: 4px;
      border: 1px solid #fff;
      padding: 14px;
      min-height: 62px;
      display: flex;
      align-items: center;
      gap: 20px;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
      background: #fff;
      transition: border-color .2s;

      &:hover {
         border-color: #6b59cc;

         .brands__brand-title {
            color: #6b59cc;
         }
      }
   }

   &__brand-image {
      flex-shrink: 0;
   }

   &__brand-title {
      font-size: 16px;
      line-height: 1.25;
      color: #1b1d1f;
      transition: color .2s;
   }
}