.btn {
   border-radius: 6px;
   padding: 14px 20px 12px 20px;
   min-height: 48px;
   font-weight: 500;
   font-size: 18px;
   line-height: 1.22222;
   color: #fff;
   background: var(--color-secondary);
}