.cart-products {
   border: 1px solid #e3e3e8;
   border-radius: 6px;
   background: #fff;

   @include mobile {
      margin: 0 calc(var(--container-padding) * -1);
   }

   &__header {
      padding: 15px 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 15px;

      @include mobile {
         padding: 15px 10px 15px 15px;
         gap: 10px;
      }

      @include mobile-extra-small {
         flex-direction: column;
         align-items: flex-start;
      }
   }

   &__checkbox-text {

      @include mobile {
         transform: translateY(1px);
         font-size: 14px;
         line-height: 1.28571;
      }
   }

   &__delete {
      display: flex;
      align-items: center;
      gap: 10px;
      color: #92979E;

      @include mobile-extra-small {
         flex-direction: row-reverse;
      }

      &:hover {
         color: #f11a22;
      }
   }

   &__delete-text {
      transform: translateY(1px);
      font-size: 16px;
      line-height: 1.25;
      color: inherit;

      @include mobile {
         transform: translateY(2px);
         font-size: 14px;
         line-height: 1.28571;
      }
   }

   &__delete-icon {
      color: inherit;
   }

   &__item {
      border-top: 1px solid #e3e3e8;
   }
}