.cart {
   padding: 30px 0 40px;

   @include tablet {
      padding: 23px 0 40px;
   }

   &__title {
      margin: 0 0 20px;

      @include tablet {
         margin: 0 0 10px;
      }
   }

   &__body {
      display: grid;
      grid-template-columns: 1fr 302px;
      align-items: flex-start;
      gap: 20px;

      @include tablet {
         grid-template-columns: 1fr;
      }

      @include mobile {
         margin: 0 calc(var(--container-padding) * -1);
      }
   }
}