.cart-product {
   padding: 20px;
   display: grid;
   grid-template-columns: auto 80px 1fr 120px 120px 124px 20px;
   align-items: center;
   justify-items: center;
   gap: 20px;

   // image

   &__image {
      max-width: 80px;
      max-height: 80px;
      object-fit: contain;
   }

   // info

   &__info {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 5px;
   }

   &__brand {
      font-weight: 500;
      font-size: 16px;
      line-height: 1.375;
      color: #1b1d1f;
   }

   &__title {
      font-size: 16px;
      line-height: 1.25;
      color: #1b1d1f;

      &:hover {
         color: #6b59cc;
      }
   }

   &__articul {
      font-size: 16px;
      line-height: 1.25;
      color: #55556d;
   }

   &__delivery {
      font-size: 16px;
      line-height: 1.25;
      text-align: center;
      color: #1b1d1f;
   }

   // counter

   &__counter {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 5px;
   }

   &__counter-controls {
      border-radius: 58px;
      padding: 5px;
      width: 120px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 5px;
      background: #f1f2f4;
   }

   &__counter-btn {
      border-radius: 24px;
      border: 2px solid transparent;
      width: 30px;
      height: 30px;
      flex-shrink: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.07);
      background: #fff;

      &:hover {
         border-color: #6b59cc;
      }

      &:disabled {
         border-color: transparent;
         cursor: default;

         .cart-product__counter-btn-icon {
            opacity: 0.3;
         }
      }
   }

   &__counter-btn-icon {}

   &__counter-input {
      transform: translateY(2px);
      width: 100%;
      font-weight: 500;
      font-size: 18px;
      line-height: 1.22222;
      text-align: center;
      color: #1b1d1f;
      transition: color .2s;

      -moz-appearance: textfield;

      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
         -webkit-appearance: none;
      }
   }


   &__counter-text {
      font-size: 14px;
      line-height: 1.28571;
      text-align: center;
      color: #7a7680;
   }

   // price

   &__price {
      font-weight: 600;
      font-size: 18px;
      line-height: 1.22222;
      text-align: center;
      color: #1b1d1f;
   }

   // delete

   &__delete {
      color: #92979E;

      &:hover {
         color: #f11a22;
      }
   }

   &__delete-icon {
      color: inherit;
   }
}