.catalog {
   padding: 30px 0 75px;

   @include tablet {
      padding: 30px 0 40px;
   }

   &__title {
      margin: 0 0 30px;

      @include tablet {
         margin: 0 0 20px;
      }
   }

   &__body {
      display: grid;
      grid-template-columns: 300px 1fr;
      align-items: start;
      gap: 20px;

      @include tablet {
         grid-template-columns: 1fr;
      }
   }

   &__left {}

   &__right {}

   &__products {
      margin: 0 0 40px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 17px 10px;

      @include laptop {
         grid-template-columns: repeat(2, 1fr);
      }

      @include tablet {
         gap: 17px 20px;
      }

      @include mobile {
         grid-template-columns: 1fr;
      }
   }

   &__pagination {}
}