.categories {
   margin: 0 0 40px;

   &__list {
      overflow: hidden;
      border: 1px solid #f4f5f6;
      border-radius: 10px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 1px;
      box-shadow: 0 4px 10px 0 rgba(46, 16, 102, 0.05);
      background: #e8e3e3;

      @include tablet {
         grid-template-columns: repeat(2, 1fr);
      }

      @include mobile {
         overflow: visible;
         border: none;
         gap: 10px;
         background: none;
         box-shadow: none;
      }

      @include mobile-extra-small {
         grid-template-columns: 1fr;
      }
   }

   &__item {
      background: #fff;

      @include mobile {
         overflow: hidden;
         border-radius: 10px;
         box-shadow: 0 4px 10px 0 rgba(46, 16, 102, 0.05);
      }
   }

   &__link {
      position: relative;
      padding: 26px 26px 26px 100px;
      width: 100%;
      height: 100%;
      min-height: 100px;

      @include mobile {
         padding: 75px 20px 20px 20px;
      }

      &:hover {
         z-index: 1;
         padding-left: 90px;
         box-shadow: 0 5px 20px 0 rgba(42, 38, 49, 0.15);

         @include mobile {
            padding-left: 20px;
         }

         .categories__title {
            color: var(--color-primary);
         }

         .categories__title--more {
            color: #fff;
         }
      }

      &--more {
         padding-left: 108px;
         display: flex;
         align-items: center;
         background: #6d5998 url('../img/others/categories-bg.webp') no-repeat center / cover;

         @media (min-resolution: 192dpi) {
            background-image: url('../img/others/categories-bg@2x.webp');
         }

         @include mobile {
            padding-top: 70px;
            padding-left: 20px;
            align-items: flex-start;
         }

         &:hover {
            padding-left: 98px;

            @include mobile {
               padding-left: 20px;
            }
         }
      }
   }

   &__icon {
      position: absolute;
      top: 26px;
      left: 30px;

      @include mobile {
         top: 20px;
         left: 20px;
         width: 40px;
      }

      &--more {
         left: 40px;

         @include mobile {
            left: 20px;
         }
      }
   }

   &__title {
      font-weight: 500;
      font-size: 20px;
      line-height: 1.5;
      color: var(--color-text-primary);
      transition: all 0.2s;

      @include tablet {
         margin: 0 0 5px 0;
         font-size: 18px;
         line-height: 1.33333;
      }

      @include mobile {
         font-size: 18px;
         line-height: 1.22222;
      }

      &--more {
         font-size: 24px;
         line-height: 1.25;
         color: #fff;

         @include mobile {
            font-size: 18px;
            line-height: 1.22222;
         }
      }
   }

   &__text {
      font-size: 14px;
      line-height: 1.28571;
      color: var(--color-text-secondary);
   }

   &__arrow {
      position: absolute;
      right: 21px;
      bottom: 20px;
      transition: all 0.2s;

      @include mobile {
         right: 10px;
         bottom: 10px;
      }
   }
}