.filter {
   padding: 20px 20px 0;
   border-bottom: 1px solid #e3e3e8;

   &--open {
   }

   &--last {
      border-bottom: none;
   }

   &__toggler {
      margin: 0 0 15px;
      width: 100%;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      gap: 15px;
   }

   &__toggler-title {
      font-weight: 500;
      font-size: 18px;
      line-height: 1.22222;
      text-align: left;
      color: #1b1d1f;
   }

   &__toggler-icon {
   }

   &__body {
      overflow: hidden;
      max-height: 0;
      transition: all 0.2s;

      & > * {
         margin: 0 0 15px;
      }
   }

   &__search {
      border: 1px solid #dedee2;
      border-radius: 4px;
      padding: 0 20px;
      height: 40px;
      font-size: 16px;
      line-height: 1.25;
      color: #1b1d1f;
      background: #fff;

      &::placeholder {
         color: #7a7680;
      }
   }

   &__list {
      overflow-y: auto;
      padding: 0 10px 0 0;
      width: 100%;
      max-height: 140px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 7px;

      &::-webkit-scrollbar {
         width: 4px;
      }

      &::-webkit-scrollbar-thumb {
         border-radius: 30px;
         background: #c5c3c8;
         transition: all 0.2s;

         &:hover {
            background: #6b59cc;
         }
      }

      &::-webkit-scrollbar-track {
         background: transparent;
      }

      &::-webkit-scrollbar-button {
         display: none;
         height: 0;
         width: 0;
      }
   }

   &__item {
   }

   &__more {
      font-size: 16px;
      line-height: 1.25;
      color: #6b59cc;
   }

   &__range {
   }

   &__range-label {
   }

   &__range-input {
   }

   &__range-text {
   }
}
