.filters {
   border-radius: 4px;
   box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.05);
   background: #fff;

   &__toggler {
      padding: 10px;
      width: 100%;
   }

   &__toggler-inner {
      border: 1px solid #dedee2;
      border-radius: 4px;
      padding: 8px 16px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 15px;
   }

   &__toggler-icon {}

   &__toggler-title {
      transform: translateY(2px);
      font-weight: 500;
      font-size: 18px;
      line-height: 1.22222;
      color: #1b1d1f;
   }

   &__body {}

   &__footer {
      padding: 0 20px 20px;
   }

   &__btn {
      border-radius: 4px;
      padding: 16px 20px 12px;
      width: 100%;
      min-height: 50px;
      font-weight: 500;
      font-size: 18px;
      line-height: 1.22222;
      color: #92979e;
      background: #f4f5f6;

      &:hover {
         color: #fff;
         background: #6b59cc;
      }
   }
}