.footer {
   color: #fff;
   background: #2f2b4a;

   // top

   &__top {
      border-bottom: 1px solid #4e4b65;
      padding: 40px 0;
      display: grid;
      grid-template-columns: repeat(5, auto);
      justify-content: space-between;
      gap: 30px;

      @include tablet {
         padding: 30px 0;
         grid-template-columns: repeat(4, auto);
         gap: 30px 25px;
      }

      @include mobile {
         padding: 35px 0;
         grid-template-columns: 1fr;
         gap: 15px;
      }
   }

   &__top-col {
      &:last-child {
         @include tablet {
            grid-column: span 4;
            display: flex;
            align-items: center;
            gap: 40px;
         }

         @include mobile {
            grid-column: span 1;
            flex-direction: column;
            align-items: flex-start;
            gap: 20px;
         }
      }
   }

   // menu

   &__menu {
      &--active {
         .footer__menu-title {
            margin: 0 0 15px;
         }

         .footer__menu-title-icon {
            transform: rotate(180deg);
         }
      }
   }

   &__menu-title {
      margin: 0 0 20px;

      @include mobile {
         margin: 0;
         display: flex;
         align-items: center;
         justify-content: space-between;
         transition: all 0.2s;
         cursor: pointer;
      }
   }

   &__menu-title-text {
      font-weight: 500;
      font-size: 18px;
      line-height: 1.22222;
   }

   &__menu-title-icon {
      display: none;

      @include mobile {
         display: block;
         transition: all 0.2s;
      }
   }

   &__menu-list {
      display: flex;
      flex-direction: column;
      gap: 8px;

      @include mobile {
         overflow: hidden;
         max-height: 0;
         transition: all 0.2s;
      }
   }

   &__menu-item {
   }

   &__menu-link {
      font-size: 16px;
      line-height: 1.25;
      color: #f4f5f6;
      white-space: nowrap;
      opacity: 0.9;

      &:hover {
         opacity: 0.7;
      }
   }

   // consultation

   &__consultation {
      margin: 0 0 20px;
      position: relative;
      border: 1px solid rgba(255, 255, 255, 0.2);
      border-radius: 10px;
      padding: 15px 20px 15px 50px;
      background: rgba(255, 255, 255, 0.1);

      @include tablet {
         margin: 0;
      }

      @include mobile {
         padding: 15px;
         width: 100%;
         display: flex;
         align-items: flex-start;
         justify-content: center;
         gap: 10px;
      }

      &:hover {
         border-color: var(--color-primary);
         background: var(--color-primary);
      }
   }

   &__consultation-icon {
      position: absolute;
      top: 15px;
      left: 20px;

      @include mobile {
         position: static;
      }
   }

   &__consultation-col {
   }

   &__consultation-title {
      margin: 0 0 2px;
      font-weight: 500;
      font-size: 16px;
      line-height: 1.375;
      color: #fff;
   }

   &__consultation-text {
      font-size: 14px;
      line-height: 1.28571;
      color: #f4f5f6;
   }

   // service

   &__service {
      position: relative;
      padding: 0 0 0 30px;

      @include mobile {
         margin: 0 auto 25px;
      }

      &::before,
      &::after {
         content: '';
         position: absolute;
         top: 0;
         left: 0;
         border-radius: 100%;
         background: #49c171;

         @include mobile {
            top: -2px;
         }
      }

      &::before {
         width: 20px;
         height: 20px;
         opacity: 0.3;
         animation: pulse 1s infinite;
      }

      &::after {
         top: 5px;
         left: 5px;
         width: 10px;
         height: 10px;

         @include mobile {
            top: 3px;
         }
      }
   }

   &__service-text {
      max-width: 150px;
      font-weight: 500;
      font-size: 16px;
      line-height: 1.375;
      color: #f4f5f6;

      @include mobile {
         max-width: none;
      }
   }

   // bottom

   &__bottom {
      position: relative;
      padding: 20px 0;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      align-items: center;
      gap: 30px;

      @include tablet {
         display: flex;
         justify-content: space-between;
         gap: 20px;
      }

      @include mobile {
         flex-direction: column;
      }
   }

   // copyright

   &__copyright {
      font-size: 16px;
      line-height: 1.25;
      color: #fff;

      @include mobile {
         order: 1;
         text-align: center;
      }

      @include mobile-extra-small {
         font-size: 14px;
      }
   }

   // pay

   &__pay {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 18px;
   }

   &__pay-text {
      font-size: 16px;
      line-height: 1.25;
      text-align: right;
      color: #fff;

      @include mobile {
         font-size: 14px;
         line-height: 1.28571;
      }
   }

   &__pay-cards {
      display: flex;
      align-items: center;
      gap: 10px;
   }

   &__pay-card {
      border-radius: 4px;
      padding: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: rgba(244, 246, 249, 0.15);

      &:hover {
         background: var(--color-primary);
      }
   }

   &__pay-icon {
   }

   // links

   &__links {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 30px;

      @include tablet {
         position: absolute;
         right: 0;
         bottom: 135px;
      }

      @include mobile {
         left: 0;
         justify-content: center;
      }
   }

   &__links-link {
      font-size: 16px;
      line-height: 1.25;
      color: #f4f5f6;

      &:hover {
         opacity: 0.7;
      }
   }
}

// animation

@keyframes pulse {
   0% {
      transform: scale(1);
   }

   50% {
      transform: scale(1.2);
   }

   100% {
      transform: scale(1);
   }
}
