.header {
   z-index: 10;

   // top

   &__top {
      border-bottom: 1px solid #e3e3e8;
      padding: 13px 0;
   }

   &__top-inner {
      display: flex;
      align-items: center;
      gap: 15px;

      & > * {
         flex-shrink: 0;
      }
   }

   // logo

   &__logo {
      margin: 0 2px 0 0;
   }

   &__logo-img {}

   // search

   &__search {
      margin: 0 5px 0 0;
      position: relative;
      width: 100%;
      max-width: 430px;
   }

   &__search-input {
      border: 1px solid #dedee2;
      border-radius: 6px;
      padding: 13px 50px 11px 20px;
      height: 44px;
      font-size: 16px;
      line-height: 1.25;
      color: #1b1d1f;
      background: #f4f5f6;

      &::placeholder {
         color: #55556d;
      }
   }

   &__search-btn {
      position: absolute;
      top: 12px;
      right: 12px;
   }

   &__search-btn-icon {}

   // location

   &__location {
      margin: 0 35px 0 0;
      display: flex;
      align-items: center;
      gap: 10px;
   }

   &__location-icon {}

   &__location-text {
      transform: translateY(2px);
      font-size: 16px;
      line-height: 1.25;
      color: #1b1d1f;
   }

   // tel

   &__tel {
      display: flex;
      align-items: center;
      gap: 7px;
   }

   &__tel-icon {}

   &__tel-text {
      transform: translateY(2px);
      font-weight: 600;
      font-size: 18px;
      line-height: 1.22222;
      color: #1b1d1f;
   }

   // user

   &__user {
      margin: 0 0 0 auto;
      display: flex;
      align-items: center;
      gap: 7px;
   }

   &__user-icon {}

   &__user-link,
   &__user-text {
      transform: translateY(2px);
      font-size: 16px;
      line-height: 1.25;
      text-align: right;
      color: #1b1d1f;
   }

   &__user-text {}

   // bottom

   &__bottom {}

   &__bottom-inner {
      padding: 13px 0;
      display: flex;
      align-items: center;
      gap: 20px;
   }

   // category

   &__category {
      border-radius: 8px;
      padding: 11px 20px;
      display: flex;
      align-items: center;
      gap: 10px;
      background: #6b59cc;
   }

   &__category-icon {}

   &__category-text {
      font-weight: 600;
      font-size: 16px;
      line-height: 1.375;
      color: #fff;
   }

   // menu

   &__menu {}

   &__menu-list {
      display: flex;
      align-items: center;
      gap: 5px;
   }

   &__menu-item {}

   &__menu-link {}

   // cart

   &__cart {
      display: flex;
      align-items: center;
      gap: 10px;
   }

   &__cart-icon {}

   &__cart-text {}

   &__cart-count {}
}