.header {
   position: relative;
   z-index: 10;
   box-shadow: 0 5px 20px 0 rgba(44, 41, 51, 0.1);
   background: #fff;

   // top

   &__top {
      border-bottom: 1px solid #e3e3e8;
      padding: 13px 0;

      @include mobile {
         padding: 18px 0;
      }
   }

   &__top-inner {
      display: flex;
      align-items: center;
      gap: 20px;

      @include mobile {
         gap: 15px;
      }

      & > * {
         flex-shrink: 0;
      }
   }

   &__top-col {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-grow: 1;
      gap: 15px;

      @include tablet {
         flex-grow: 0;
         margin: 0 0 0 auto;
         gap: 30px;
      }

      @include mobile {
         gap: 64px;
      }

      & > * {
         flex-shrink: 0;
      }
   }

   // menu-toggler

   &__menu-toggler {
      position: relative;
      width: 24px;
      height: 24px;
      display: none;

      @include mobile {
         display: block;
      }

      &--active {
         .header__menu-toggler-icon--open {
            transform: translate(-50%, -50%) scale(0);
         }

         .header__menu-toggler-icon--close {
            transform: translate(-50%, -50%) scale(1);
         }
      }
   }

   &__menu-toggler-icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: all 0.2s;

      &--open {
      }

      &--close {
         transform: translate(-50%, -50%) scale(0);
      }
   }

   // logo

   &__logo {
      transition: all 0.2s;

      @include laptop {
         width: 158px;
      }

      @include mobile {
         width: 120px;
      }

      &:hover {
         opacity: 0.7;
      }

      &--disabled {
         &:hover {
            opacity: 1;
         }
      }
   }

   &__logo-img {
   }

   // search

   &__search {
      position: relative;
      width: 100%;
      max-width: 430px;
      flex-shrink: 1;

      @include tablet {
         max-width: 390px;
      }

      @include mobile {
         position: absolute;
         top: 74px;
         right: 15px;
         left: 190px;
         max-width: none;
         width: auto;
      }

      @include mobile-small {
         left: 70px;
      }
   }

   &__search-input {
      border: 1px solid #dedee2;
      border-radius: 6px;
      padding: 13px 50px 11px 20px;
      height: 44px;
      font-size: 16px;
      line-height: 1.25;
      color: #1b1d1f;
      background: #f4f5f6;
      transition: all 0.2s;

      &::placeholder {
         color: #55556d;
      }

      &:focus {
         border-color: #6b59cc;
      }
   }

   &__search-btn {
      position: absolute;
      top: 12px;
      right: 12px;

      @include tablet {
         right: 20px;
      }

      @include mobile {
         right: 12px;
      }
   }

   &__search-btn-icon {
   }

   // location

   &__location {
      display: flex;
      align-items: center;
      gap: 10px;

      @include laptop {
         gap: 5px;
      }

      &:hover {
         .header__location-text {
            color: #6b59cc;
         }
      }
   }

   &__location-icon {
   }

   &__location-text {
      transform: translateY(2px);
      font-size: 16px;
      line-height: 1.25;
      color: #1b1d1f;
      transition: all 0.2s;

      @include tablet {
         display: none;
      }
   }

   // tel

   &__tel {
      display: flex;
      align-items: center;
      gap: 8px;

      @include laptop {
         gap: 5px;
      }

      @include mobile {
         display: none;
      }

      &:hover {
         .header__tel-text {
            color: #6b59cc;
         }
      }
   }

   &__tel-icon {
   }

   &__tel-text {
      transform: translateY(2px);
      font-weight: 600;
      font-size: 18px;
      line-height: 1.22222;
      color: #1b1d1f;
      transition: all 0.2s;

      @include tablet {
         display: none;
      }
   }

   &__tel-icon {
   }

   // user

   &__user {
      display: flex;
      align-items: center;
      gap: 7px;

      @include laptop {
         gap: 5px;
      }

      &:hover {
         .header__user-text {
            color: #6b59cc;
         }
      }
   }

   &__user-icon {
   }

   &__user-text {
      transform: translateY(2px);
      font-size: 16px;
      line-height: 1.25;
      text-align: right;
      color: #1b1d1f;

      @include tablet {
         display: none;
      }
   }

   // bottom

   &__bottom {
   }

   &__bottom-inner {
      padding: 13px 0;
      display: flex;
      align-items: center;
      gap: 20px;
   }

   // categories

   &__categories {
      border-radius: 8px;
      padding: 11px 20px;
      display: flex;
      align-items: center;
      gap: 10px;
      flex-shrink: 0;
      background: #6b59cc;

      @include laptop {
         padding: 11px 15px;
      }

      @include mobile-small {
         padding: 12px;
      }

      &:hover {
         background: #5946d7;
      }
   }

   &__categories-icon {
   }

   &__categories-text {
      transform: translateY(1px);
      font-weight: 600;
      font-size: 16px;
      line-height: 1.375;
      color: #fff;

      @include mobile-small {
         display: none;
      }
   }

   // menu

   &__menu {
      @include laptop {
         overflow: auto;
      }

      @include mobile {
         display: none;
      }
   }

   &__menu-list {
      display: flex;
      align-items: center;
      gap: 5px;

      @include laptop {
         gap: 0;
      }
   }

   &__menu-item {
   }

   &__menu-link {
      border-radius: 8px;
      padding: 14px 15px 10px 15px;
      font-size: 16px;
      line-height: 1.25;
      color: #1b1d1f;
      white-space: nowrap;

      @include laptop {
         padding: 14px 10px 10px;
      }

      &:hover {
         background: #f4f5f6;
      }
   }

   // cart

   &__cart {
      border-radius: 8px;
      padding: 6px 15px 6px 25px;
      margin: 0 0 0 auto;
      flex-shrink: 0;
      display: flex;
      align-items: center;
      gap: 10px;
      background: #f4f5f6;

      @include laptop {
         padding: 0;
         background: transparent;
      }

      @include mobile {
         position: absolute;
         top: 18px;
         right: 60px;
         width: 24px;
      }

      &:hover {
         .header__cart-text {
            color: #6b59cc;
         }

         .header__cart-count {
            background: #6b59cc;
         }
      }
   }

   &__cart-icon {
   }

   &__cart-text {
      transform: translateY(1px);
      font-weight: 500;
      font-size: 16px;
      line-height: 1.375;
      color: #1b1d1f;
      transition: all 0.2s;

      @include mobile {
         display: none;
      }
   }

   &__cart-count {
      border-radius: 25px;
      padding: 2px 0 0;
      min-width: 20px;
      height: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 500;
      font-size: 14px;
      line-height: 1;
      color: #fff;
      background: #fb6019;
      transition: all 0.2s;

      @include mobile {
         position: absolute;
         top: -5px;
         right: -7px;
         min-width: 16px;
         height: 16px;
         font-weight: 400;
         font-size: 12px;
         line-height: 1.33333;
      }
   }
}
