.mobile-menu {
   z-index: 100;
   position: fixed;
   top: 0;
   left: -120%;
   width: 100%;
   height: 100%;
   overflow-y: auto;
   background: #fff;
   transition: all 0.2s;
   pointer-events: none;
   visibility: hidden;

   &--active {
      @include mobile {
         left: 0;
         pointer-events: all;
         visibility: visible;
      }
   }

   // row-1

   &__row-1 {
      border-bottom: 1px solid #e3e3e8;
   }

   &__row-1-inner {
      padding: 18px 0 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;
   }

   // close

   &__close {
   }

   &__close-icon {
   }

   // user

   &__user {
      display: flex;
      align-items: center;
      gap: 7px;
   }

   &__user-icon {
   }

   &__user-text {
      transform: translateY(2px);
      font-size: 16px;
      line-height: 1.25;
      text-align: right;
      color: var(--color-text-primary);
   }

   // row-2

   &__row-2 {
      border-bottom: 1px solid #e3e3e8;
   }

   &__row-2-inner {
      padding: 20px 0;
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      gap: 20px;
   }

   // location

   &__location {
      display: flex;
      align-items: center;
      gap: 10px;
   }

   &__location-icon {
   }

   &__location-text {
      transform: translateY(2px);
      font-size: 16px;
      line-height: 1.25;
      color: var(--color-text-primary);
      transition: all 0.2s;
   }

   // tel

   &__tel {
      display: flex;
      align-items: center;
      gap: 8px;
   }

   &__tel-icon {
   }

   &__tel-text {
      transform: translateY(2px);
      font-weight: 600;
      font-size: 18px;
      line-height: 1.22222;
      color: var(--color-text-primary);
      transition: all 0.2s;
   }

   &__tel-icon {
   }

   // cart

   &__cart {
      border-radius: 8px;
      flex-shrink: 0;
      display: flex;
      align-items: center;
      gap: 10px;
   }

   &__cart-icon {
      margin: 0 8px 0 0;
   }

   &__cart-text {
      transform: translateY(1px);
      font-weight: 500;
      font-size: 16px;
      line-height: 1.375;
      color: var(--color-text-primary);
      transition: all 0.2s;
   }

   &__cart-count {
      border-radius: 25px;
      padding: 2px 0 0;
      min-width: 20px;
      height: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 500;
      font-size: 14px;
      line-height: 1;
      color: #fff;
      background: #fb6019;
      transition: all 0.2s;
   }

   // row-3

   &__row-3 {
   }

   // list

   &__list {
      padding: 20px 0;
   }

   &__list-item {
   }

   &__list-link {
      padding: 14px 0 10px;
      font-size: 16px;
      line-height: 1.25;
      color: var(--color-text-primary);
   }
}
