.mobile-menu {
   z-index: 40;
   position: fixed;
   top: 0;
   left: -120%;
   width: 100%;
   height: 100%;
   overflow-y: auto;
   background: #fff;
   transition: all 0.2s;
   pointer-events: none;
   visibility: hidden;

   &--active {
      @include mobile {
         left: 0;
         pointer-events: all;
         visibility: visible;
      }
   }

   // row-1

   &__row-1 {
   }

   &__row-1-inner {
   }

   // close

   &__close {
   }

   &__close-icon {
   }

   // user

   &__user {
   }

   &__user-icon {
   }

   &__user-text {
   }

   // row-2

   &__row-2 {
   }

   &__row-2-inner {
   }

   // location

   &__location {
   }

   &__location-icon {
   }

   &__location-text {
   }

   // tel

   &__tel {
   }

   &__tel-icon {
   }

   &__tel-text {
   }

   // cart

   &__cart {
   }

   &__cart-icon {
   }

   &__cart-text {
   }

   &__cart-count {
   }

   // row-3

   &__row-3 {
   }

   // list

   &__list {
   }

   &__list-item {
   }

   &__list-link {
   }
}
