.products {
   overflow: hidden;
   background: #fff;

   // header

   &__header {
      margin: 0 0 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 30px;

      &--more {
         margin: 0;
      }
   }

   // more

   &__more {
      border-radius: 8px;
      border: 1px solid transparent;
      padding: 7px 10px 7px 20px;
      min-height: 40px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 10px;
      background: #f4f5f6;

      @include tablet {
         display: none;
      }

      &:hover {
         border-color: var(--color-primary);
      }
   }

   &__more-text {
      font-family: var(--font-secondary);
      font-size: 14px;
      line-height: 1.42857;
      color: var(--color-primary);
   }

   &__more-icon {}

   // body

   &__body {
      position: relative;
   }

   // slider

   &__slider {
      margin: 0 -20px;
   }

   // arrows

   &__arrows {
      pointer-events: none;
      z-index: 2;
      position: absolute;
      top: 50%;
      right: 0;
      left: 0;
      transform: translateY(-50%);
      display: flex;
      align-items: center;
      justify-content: space-between;

      @include laptop {
         display: none;
      }
   }

   &__arrow-prev {
      transform: translateX(-50%);
   }

   &__arrow-next {
      transform: translateX(50%);
   }

   // banner

   &__banner {
      &:hover {
         opacity: 0.9;
         box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.07);
      }
   }

   &__banner-img {
      border-radius: 10px;
      background: #fafafd;
   }

   // Swiper

   .swiper {
      padding: 20px;
   }

   .swiper-slide {
      display: flex;
      flex-direction: column;
      max-width: 300px;
      height: auto;
   }

   .swiper-button-disabled {
      pointer-events: none;
      visibility: hidden;
   }
}