.slider {
   padding: 30px 0 40px;

   @include tablet {
      padding: 20px 0 30px;
   }

   @include mobile {
      padding: 20px 0;
   }

   &__slide {
   }

   &__img {
      border-radius: 30px;
      background: #fff;

      @include mobile {
         border-radius: 20px;
      }
   }

   &__arrows {
      z-index: 1;
      position: absolute;
      top: 50%;
      right: 0;
      left: 0;
      transform: translateY(-50%);
      pointer-events: none;
   }

   &__arrows-inner {
      display: flex;
      align-items: center;
      justify-content: space-between;
   }

   &__arrow-prev {
      transform: translateX(-20px);

      @include laptop {
         transform: translateX(-10px);
      }
   }

   &__arrow-next {
      transform: translateX(20px);

      @include laptop {
         transform: translateX(10px);
      }
   }

   &__pagination {
      pointer-events: none;
      z-index: 1;
      position: absolute;
      right: 0;
      bottom: 56px;
      left: 0;

      @include tablet {
         bottom: 30px;
      }

      @include mobile {
         bottom: 20px;
      }
   }

   &__pagination-inner {
      padding: 0 0 0 56px;

      @include tablet {
         padding: 0;
         display: flex;
         align-items: center;
         justify-content: center;
      }
   }

   // swiper

   .swiper-pagination-bullet {
      border-radius: 30px;
      width: 60px;
      height: 4px;
      background: #fff;
      opacity: 0.3;
      transition: all 0.2s;
      pointer-events: all;

      @include tablet {
         background: var(--color-primary);
      }

      &:hover {
         opacity: 1;
      }
   }

   .swiper-pagination-bullet-active {
      opacity: 1;
   }

   .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
   .swiper-pagination-horizontal.swiper-pagination-bullets
      .swiper-pagination-bullet {
      margin-right: 8px;
      margin-left: 8px;
   }
}
