.top-categories {
   overflow: hidden;
   padding: 0 0 60px;
   background: #fff;

   @include tablet {
      padding: 0 0 40px;
   }

   &__slider {
      @include laptop {
         margin-right: calc(var(--container-padding) * -1);
      }
   }

   &__item {
      overflow: hidden;
      position: relative;
      padding: 30px;
      min-height: 250px;
      background: #e8edfa;

      @include mobile-small {
         padding: 20px 14px 20px 20px;
         min-height: 180px;
      }
   }

   &__item-image {
      position: absolute;
      right: 0;
      bottom: 0;

      @include tablet {
         right: -20px;
      }

      @include mobile-small {
         right: -10px;
         width: 130px;
      }
   }

   &__item-info {
      position: relative;

      @include mobile-small {
         min-height: 140px;
         display: flex;
         flex-direction: column;
         justify-content: space-between;
      }
   }

   &__item-title {
      margin: 0 0 20px;
      max-width: 232px;
      font-family: 'Stolzl', sans-serif;
      font-weight: 500;
      font-size: 24px;
      line-height: 1.33333;
      color: #1b1d1f;

      @include mobile-small {
         font-family: 'TT Commons', sans-serif;
         font-size: 18px;
         line-height: 1.22222;
      }
   }

   &__item-link {
      border-radius: 8px;
      padding: 8px 10px 8px 20px;
      display: inline-flex;
      align-items: center;
      justify-content: space-between;
      gap: 10px;
      background: #5946d7;

      @include mobile-small {
         max-width: 122px;
      }

      &:hover {
         background: #6b59cc;
      }
   }

   &__item-link-text {
      transform: translateY(2px);
      font-size: 18px;
      line-height: 1.22222;
      color: #fff;

      @include mobile-small {
         font-weight: 500;
         font-size: 16px;
         line-height: 1.375;
      }
   }

   &__item-link-icon {
   }

   // Swiper

   .swiper {
      @include laptop {
         padding-right: var(--container-padding);
      }
   }

   .swiper-slide {
      max-width: 407px;

      @include tablet {
         max-width: 354px;
      }

      @include mobile-small {
         max-width: 163px;
      }
   }
}
